p{
    color: dimgray;
    
}



/* header{

    height: 400px;

}

article{
    width: 1000px;
} */




/* .bolt{
    font-size: 60px ;
}

.cursive{
    font-family: cursive;
} */



#blog-desc{
    color: #0e4b07;
}

#hover-orange:hover{
    color: orange;
    font-size: 55px;

}


/* main blog */

h1.h-style{
    font-family: sans-serif ;
}

h4.h-style{
    font-family: monospace ;
    font-size: 15px;
}