p{
    color: dimgray;
    
}



/* header{

    height: 400px;

}

article{
    width: 1000px;
} */




/* .bolt{
    font-size: 60px ;
}

.cursive{
    font-family: cursive;
} */



#blog-desc{
    color: #0e4b07;
}